h1,
h2,
p {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container {
    border: 1px solid black;
    min-height: 100vh;
    width: 80%;
    padding: 0 2rem;
    box-sizing: border-box;
    font-size: 15px;
    max-height: fit-content;
}

.header {
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 3px solid black;
}

.header h1,
.header h2 {
    font-family: 'Cormorant Infant', serif;
    letter-spacing: 1px;
}

.header h1 {
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}

.header h2 {
    margin: 0;
    padding: 0;
}

.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon.icon-mail,
.icon.icon-linked-in,
.icon.icon-github {
    font-weight: bold;
    font-size: 18px;
    margin: 0 5px;
    transform: translateY(2px);
}

.icon+a {
    color: #000;
}

.mail {
    transform: translateX(20px);
}

.experience,
.projects,
.education,
.skills,
.certifications {
    margin-bottom: 1rem;
}

.experience h1,
.projects h1,
.education h1,
.skills h1,
.certifications h1 {
    border-bottom: 1px solid black;
    font-size: 18px;
    font-weight: 900;
}

.education {
    margin-top: 1rem;
}

.company,
.institute {
    display: flex;
    justify-content: space-between;
}

.company h2 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
    padding: 0;
    margin: 0;
}

.company h2+span {
    font-size: 18px;
}

.company-name-role {
    display: flex;
}

.company .date,
.institute-location .date {
    font-size: 15px;
}

.date-location,
.institute-location {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-location p {
    font-size: 14px;
}

.project-title {
    display: flex;
    align-items: baseline;
}

.project-title h2 {
    font-size: 18px;
    margin-right: 0.5rem;
}

.institute h2 {
    font-size: 18px;
}

.project {
    margin: 0.5rem 0;
}

@media print {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
        margin: 0;

    }

    .container {
        width: 100%;
        padding: 0;
        font-size: 12px;
    }
    .icon+a {
        color: blue;
    }

    .experience,
    .projects,
    .education,
    .skills,
    .certifications {
        margin: 0.5rem 0;
    }

    .experience h1,
    .projects h1,
    .education h1,
    .skills h1,
    .certifications h1 {
        font-size: 18px;
    }
    .container {
        border: none;
        box-sizing: content-box;
    }
}